/* Responsive layout */
@media screen and (max-width: 700px) {
    .container, nav {
        flex-direction: column;
    }
}

/* General */
* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

/* Header */
header {
    padding: 20px;
    text-align: center;
    background: #88b6d5;
    color: black;
}

/* Style the top navigation bar */
nav {
    display: flex;
    background-color: #333;
    align-items: center;
}

/* Style the navigation bar links */
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */
.container {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* 30% - 70% */
aside {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Footer */
footer {
    padding: 10px;
    text-align: center;
    background: #ddd;
}
